---
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob("./post/*.mdx");
---

<Layout title="HBlog">
  <header class="p-2">
    <h1 class="text-stroke text-2xl dark:text-headline">HBlog</h1>
  </header>
  <main class="flex flex-col h-min flex-1 my-2 items-center">
    {
      posts.map((post) => {
        return (
          <a href={post.url} class="bg-secondary rounded p-2 w-96">
            <h1 class="text-stroke text-lg">{post.frontmatter.title}</h1>
            <p class="text-background text-sm">{post.frontmatter.desc}</p>
            <div class="flex text-sm text-main justify-end">
              {post.frontmatter.created}
            </div>
          </a>
        );
      })
    }
  </main>
  <footer
    class="flex text-sm text-background py-2 justify-center dark:text-paragraph"
  >
    基于{Astro.generator}创造 | 始于2023.04.05
  </footer>
</Layout>

<style></style>
